<% @page_title = "Update Subjects" %>


<h1>Subjects#edit</h1>

<%= link_to("<< back to List", subjects_path, :class => "back-link") %>


<%= form_with(model: @subject, local: true) do |form| %>
  

  <%= render(:partial => 'form', :locals => {:form => form}) %>


<% end %>

